:root {
  --color-black: #000;
  --color-white: #fff;
}

$color-black: #000;
$color-orange: #FFA07A;
$color-link: #ff5722;

$color-inst: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
$color-dark-grey: #cccbcb;
$color-light-gray: #cccbcb;

// instagram-colors
$color-bkg-inst: #fafafa;
$color-border-inst: #8e8e8e;
$color-inst-orange:#f09433;
